// 公共样式
#app,
html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

$background-color: #181818;
$box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
$nav-height: 0.5rem;
$leftnav:2.8rem;
$active:#3eaf7c;
$transition-time:.5s;
//markdown变量
$h1-left-color:#7ec699;
$keyword: #cc99cd;
$--text-color: rgba(255, 255, 255, 0.8);
$variable:#eea2a4;
$number:#f08d49;
$string:#7ec699;
$property:#f8c555;
$operator:#67cdcc;
$forcus:orange;
// 详情
.detail {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url('../img/texture.png');
    .content {
        transition: all $transition-time;
        height: calc(100%-#{$nav-height});
        margin-left: $leftnav;
        font-size: .16rem;
        box-sizing: border-box;
        padding: 50px 100px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;
        }
        
        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 10px;
            box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
            background   :rgba(99, 99, 99, 0.2);
        }
        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.5);
            background   : rgba(255, 255, 255, 0.2);
        }
        .md-detail{
            width: 80%;
            margin: 0 auto;
        }
    }
    .full-content{
        margin-left: 0!important;
    }
}

//顶部
.nav {
    height: $nav-height;
    line-height: $nav-height;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: $box-shadow;
    box-sizing: border-box;
    font-size: 0.16rem;
    color: white;
    padding: 0 0.2rem;
    .tab{
        float: right;
        cursor: pointer;
        color: $background-color;
        li{
            margin-right: .2rem;
        }
    }
}

//左侧导航栏
.leftnav {
    transition: all $transition-time;
    position: absolute;
    top: $nav-height;
    left: 0;
    height: calc(100%-#{$nav-height});
    width: $leftnav;
    background: rgba(255, 255, 255, 0.1);
    font-size: .18rem;
    color: $background-color;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   :rgba(99, 99, 99, 0.2);
    }
    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background   : rgba(255, 255, 255, 0.2);
    }
    .extend{
        position: absolute;
        top: .1rem;
        font-size: .18rem;
        right: -0.4rem;
        height: .3rem;
        width: .3rem;
        text-align: center;
        line-height: .3rem;
        cursor: pointer;
        box-shadow   : inset 0 0 12px rgba(0, 0, 0, 0.1);
    }
    .title {
        padding: .1rem .2rem;
        font-size: .18rem;
        font-weight: bold;
        cursor: pointer;
    }
    li {
        cursor: pointer;
        padding: .06rem .16rem .06rem .36rem;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        font-size: .15rem;
    }
    .active{
        color: $active;
        border-right: .05rem solid $active;
    }
}
.hide-leftnav{
    transform: translateX(-100%);
}
//首页
.home{
    height: 100%;
    width: 100%;
    min-width: 1900px;
    overflow-y: auto;
    background-image: url('../img/texture.png');
    .github-right{
        transform: rotateZ(45deg);
        position: fixed;
        right:-0.65rem;
        top: .1rem;
        height: .40rem;
        width: 2rem;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1;
        a{ 
            
            display: block;
            height: 100%;
            width: 100%;
            font-size: .16rem;
            i,span{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                
            }
           i{
            left: 30%;
            height: .25rem;
            width: .25rem;
            background-image: url('../img/github.png');
            background-size: 100% 100%;
            } 
            span{
                right: 30%;
                color: $background-color;
                font-size: .14rem;
            }
        }
        
    }
    .banner{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        .content{
            position: absolute;
            height: 800px;
            width: 600px;
            right: 20%;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 10px;
            .content-filter{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                filter: blur(2px);
                background: rgba(129, 129, 129,.5);
            }
            ul{
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 1;
                padding: 20px 20px;
                box-sizing: border-box;
                li{
                    float: left;
                    font-size: 16px;
                    background-image: url('../img/边框.jpeg');
                    background-size: 100% 100%;
                    
                }
            }
        }
        canvas{
            height: 100%!important;
            width: 100%!important;
        }
        .top-mune{
            height: 40px;
            line-height: 40px;
            padding: 0 10%;
            font-size: 14px;
            .book{
                float: right;
                li{
                    color: rgb(121, 108, 108);
                    cursor: pointer;
                }
            }
        }
        .title{
            position: absolute;
            left: 25%;
            top: 35%;
            span{
                display: block;
            }
            span:nth-child(1){
                font-size: .72rem;
            }
            span:nth-child(2){
                font-size: .24rem;
            }
        }
    }
    
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   :rgba(99, 99, 99, 0.2);
    }
    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background   : rgba(255, 255, 255, 0.2);
    }
}
/* markdown样式 */
.markdown-body {
    h1{
        border: none;
        border-left: .05rem solid $h1-left-color;
        padding: 0 0 0 .1rem;
    }
    h2 {
        font-size: 1.7em;
    }
    .hljs {
        &-keyword {
            color: $keyword;
        }
        &-variable {
            color: $variable;
        }
        &-number {
            color: $number;
        }
        &-string {
            color: $string;
        }
        &-property {
            color: $property;
        }
        &-operator {
            color: $operator;
        }
    }
    pre {
        position: relative;
        background-color: #282c34;
        border-radius: 6px;
        color: $--text-color;
        .codetype {
            cursor: pointer;
            position: absolute;
            right: 16px;
            top: 16px;
        }
        .active {
            color: rgb(76, 243, 76);
        }
        .unactive {
            color: rgb(255, 147, 147);
        }
    }
    important{
        color:$forcus
    }
    .table{
        margin:0 auto
    }
    .table td{
        text-align:center
    }
    div{
        vertical-align: middle;
    }
    justify{
        position: relative;
        padding-left: 1rem;
        display: block;
        content{
            display: inline-block;
            height: 100%;
        }
        span{
            position: absolute;
            left: 0;
            display: inline-block;
            text-align: justify;
            width: 1rem;
            height: 27px;
        }
        span::after{
            display: inline-block;
            width: 100%;
            content: '';
        }
    }
    
}